extends layout

block content
	div.container
		button.btn.btn-large.btn-primary.btn-block.btn1 Turn on
		button.btn.btn-large.btn-primary.btn-block.btn2 Dim to 50%
		button.btn.btn-large.btn-primary.btn-block.btn3 Turn off
		button.btn.btn-large.btn-primary.btn-block.btn4 Slow fade on

	script(type="text/javascript", src="/javascripts/buttons.js")