body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/dvsup.png');
  background-color: #999;
}

a.switchy {
	display: block;
	position: relative;
	text-align: center;
	margin: 200px auto;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Futura, Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 72px;
	color: #fff;
	-webkit-transition: all 0.5s;
}

a.switchy:hover {
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
	-webkit-transition: all 0.5s;
}

a.switchy:active {
	text-shadow: 0 0 20px rgba(255, 255, 255, 1);
	-webkit-transition: all 0.5s;	
}

.srvrok {
	background-color: #0f0;
}

.sliderouter {
	height: 50px;
	width: 300px;
}

.navbar .brand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
 /* font-weight: 200;*/
  line-height: 1;
  color: #ffffff;
  font-family:"Futura", "Helvetica", "Arial";
  text-transform: uppercase;
  letter-spacing:2px;
  text-shadow: 0 0 20px white;
}

.devicon {
	height:48px;
}

.devicon[devicestatus="On"] {
	background-image: url('/images/lightbulb48px.png');
	background-repeat: no-repeat;
}

.devicon[devicestatus="Off"] {
	background-image: url('/images/bulb48px.png');
	background-repeat: no-repeat;
}